CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="OpenWrt"
CONFIG_VERSION_NUMBER="24.10.1"
CONFIG_VERSION_CODE="r28597-0425664679"
CONFIG_VERSION_REPO="https://downloads.openwrt.org/releases/24.10.1"
CONFIG_VERSION_HOME_URL=""
CONFIG_VERSION_MANUFACTURER=""
CONFIG_VERSION_MANUFACTURER_URL=""
CONFIG_VERSION_BUG_URL=""
CONFIG_VERSION_SUPPORT_URL=""
CONFIG_VERSION_PRODUCT=""
CONFIG_VERSION_HWREV=""
CONFIG_VERSION_FILENAMES=y
# CONFIG_VERSION_CODE_FILENAMES is not set
